body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f1;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
#addButton {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#addButton:hover {
    background-color: #45a049;
}

.completed {
    text-decoration: line-through;
    color: rgb(128, 128, 128);
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.deleteBtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
}
.deleteBtn:hover {
    background-color: darkred;
}